.YbbBckRoot
{
    width: 100%;
    height: 100%;
	background-color: #212226;
}

.YbbBckTitle
{
    width: 100%;
    height: 100%;
    background-color: black;
    overflow: clip;
}

#TitlePanel
{
	horizontal-align: left;
	vertical-align: bottom;
	margin-bottom: 150px;
	margin-left: 100px;
	flow-children: right;
}

#GameModeDescription
{
    font-size: 27px;
	text-transform: uppercase;
	color: #cccccc;
}

#GameModeHints
{
	margin: 10px;
	font-size: 18px;
	color: #8f9092;
}

#GameModeImage
{
	horizontal-align: center;
	width: 200px;
	height: 150px;

	box-shadow: inset black 5px 5px 10px 10px;
}

.BetaMovTitle
{
	horizontal-align: center;   
    width: 100%;
    height: 100%;
    overflow: clip;
	box-shadow: 0 0 3px black;
	opacity: 0.8;
	background-color: transparent;
	background-size:cover; 
}